@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300;400&display=swap");

body {
  background-color: #27292d;
  margin: 0;
  font-family: "Muli", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.Login,
.Loading {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-position: right 0% top 0%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginInput {
  max-width: 600px;
}

.card {
  background-color: #36393e;
  color: #fff;
}
.dark {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.nodeLabel {
  text-shadow: 0 0 15px rgba(146, 225, 56, 0.8), 0 0 10px rgba(55, 65, 12, 0.9), 0px 0px 20px rgba(0, 0, 0, 0.8);
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}

.charts {
  height: 100vh;
  overflow-y: scroll;
}

.torreTitle {
  color: #cddc39;
}

.OpportunitiesReport {
  min-height: 85vh;
}

g.hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.addLabel {
  text-shadow: 0 0 15px rgba(146, 225, 56, 0.8), 0 0 10px rgba(55, 65, 12, 0.9), 0px 0px 20px rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
}

.no-padding {
  padding: 0;
}

.Houston {
  height: 100vh;
  overflow-y: scroll;

  background-color: #36393e;
}

/* Scroll hidder */
* {
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.loadingTitle {
  color: #cddc39;
}

.Loading {
  background-color: #27292deb;
}
